
/*hiermee importeer je een ander letterltype om te gebruiken in de code*/
body{
    font-family:Arial, Helvetica, sans-serif; /* past het font type aan*/
    display: flex; /* zorgd ervoor dat elementen naast elkaar staan*/
    flex-direction: column;     /* Dit zet de elementen verticaal neer */
    justify-content: flex-start;/* lijnt de items uit */
    align-items: center;        /* zet alles in het midden neer horizontaal */
    min-height: 100vh;          /* hoogte */
    margin: 0;
    background: linear-gradient(rgb(209, 209, 211),rgb(220, 221, 221)) /* dit geeft je pagina een gradiënt effect */
}

h1{
    text-align: center;     /* zet de text in het midden neer */
    margin-top: 20px;       /* De ruimte tussen te top van het scherm en de tekst */
}

.inputBox{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    
}

.contactForm{
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;      
    text-align: left;     
}

.contactForm input{
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 80%;    
    max-width: 390px; 
}

/* Alle tekstvelden en de textarea even breed */
#emailAddress,
#naamDoos,
#message {
    width: 400px;        /* past de breedte aan */
    box-sizing: border-box;
    display: block;      /* Zorgt dat alles onder elkaar staat */
    border-radius: 2px;
    border-width: 0.5;
    padding: 5px;
    margin: 5px;
}


#voorEnAchternaam{
    flex-direction: column;
    width: 400px;
}

#verstuurKnop{
    border-radius: 5px;
    border-width: 0.5px;
    margin: 10px;
    height: 40px;
    width: 150px;
    color: white;
    background-color: rgb(0, 0, 0);
    top: 500px;
}

#verstuurKnop:hover{
    background-color: rgb(230, 230, 230);
    border-color: rgb(0, 0, 0);
}

/* FOOTER */

.footer {
    background: #707070;
    width: 100%;
    color: white;
    text-align: left;
    padding: 10px 0;
    margin-top: 40px;
    display: flex;
    text-decoration: none;
}
.footer ul{
    margin: 10px;
    
}

.footer li{
    margin: 5px;
    
}

.footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer h4{
    margin-left: 50px;
}

.footerCol{
    justify-content: flex-start;
    margin-left: 20px;
}

.socials{
    margin-right: auto; 
}

.socials input{
    margin-left: 50px;
}

.socials i{
    font-size: 32px;
}

.social i:hover{
    font-size: 40px;
}

.locatie img{
    max-width: 250px;
    
}


/* footer mobiel responsive */
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px 10px;
    }

    .footer h4 {
        margin-left: 0;
    }

    .footerCol {
        margin-left: 0;
    }

    .socials input {
        margin-left: 0;
    }
}