body{
    background-color: rgb(233, 233, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.sideBar{
    background-color: rgba(87, 86, 86, 0.479);
    border-width: 2px;
    border-color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    right: -220px;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
}

#logo{
    position: absolute;
    top: 10px;     
    right: 10px;   
    width: 60px;  
    border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
#bedrijfsNaam{
    font-family: "JetBrains Mono", monospace;
    position: absolute;
    top: 0px;
    right: 80px;
}

#searchBar{
    position: absolute;
    top: 50px;
    width: 120px;
    right: 92px;
    border-radius: 5px;
}

.bxr{
    position: absolute;
    top: 54px;
    left: 10px;
}

.sideBar:hover{
    right:0%
}

.listItems{
    text-decoration: none;
    color: black;
}

ul{
    text-decoration: none;
    list-style: none;
    margin-top: 75px;
    line-height: 110px;
}

.list{
    font-size: 18px;
}

