body{
    background-color: rgb(233, 233, 233);
}

.sideBar{
    background-color: rgba(87, 86, 86, 0.479);
    border-width: 2px;
    border-color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    right: -220px;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
}

.sideBar:hover{
    right:0%
}

.listItems{
    text-decoration: none;
    color: black;
}

ul{
    text-decoration: none;
    list-style: none;
}