body{
    background-color: rgb(233, 233, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.overOns {
max-width: 800px;
margin: 40px auto;
padding: 20px;
background: white;
border-radius: 12px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
text-align: center;
}

.overOns h2 {
font-size: 30px;
margin-bottom: 10px;
}

.overOns p {
font-size: 17px;
line-height: 1.6;
padding: 0 10px;
}

#bannerimage {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1565793298595-6a879b1d9492?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  height: 405px;
  background-position: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#lineBreak{
max-height: 1px;
}

#visie{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center; 
}
/*sidebar*/
.sideBar{
    background-color: #c7c6c6;
    border-width: 2px;
    border-color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    right: -220px;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
    top: 0px;
}

#logo{
    position: absolute;
    top: 10px;     
    right: 10px;   
    width: 60px;  
    border-radius: 5px;
}

#bedrijfsNaam{
    font-family: Arial, sans-serif;
    position: absolute;
    top: 0px;
    right: 80px;
}

#searchBar{
    position: absolute;
    top: 50px;
    width: 120px;
    right: 92px;
    border-radius: 5px;
}

.bxr{
    position: absolute;
    top: 54px;
    left: 10px;
}

.sideBar:hover{
    right:0%
}

.listItems{
    text-decoration: none;
    color: black;
}

.sideBar ul{
    text-decoration: none;
    list-style: none;
    margin-top: 75px;
    line-height: 110px;
}

.list{
    font-size: 18px;
    color: #222;
}

.list :hover{
    color: #000000;
    font-size: 20px;
}
 /* footer */

.footer {
    background: #707070;
    color: white;
    text-align: left;
    padding: 10px 0;
    margin-top: 40px;
    display: flex;
    text-decoration: none;
}
.footer ul{
    margin: 10px;
    
}

.footer li{
    margin: 5px;
    
}

.footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer h4{
    margin-left: 50px;
}

.footerCol{
    justify-content: flex-start;
    margin-left: 20px;
}

.socials{
    margin-right: auto; 
}

.socials input{
    margin-left: 50px;
}

.socials i{
    font-size: 32px;
}

.social i:hover{
    font-size: 40px;
}

.locatie img{
    max-width: 250px;
    
}

/* footer mobies responsive */

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px 10px;
    }

    .footer h4 {
        margin-left: 0;
    }

    .footerCol {
        margin-left: 0;
    }

    .socials input {
        margin-left: 0;
    }
}