
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 221, 221);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Login deel */
.loginTab {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;      
    text-align: left;       
}

.loginTab h2 {
    margin-bottom: 25px;
}

/* input email en wachtwoord */
.formInput {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;   
}


.formInput input {
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 80%;    
    max-width: 250px; 

}

/* login knop */
.formInput .verstuurKnop {
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    width: 80%;
    max-width: 250px;
    transition: 0.2s;
}

.formInput .verstuurKnop:hover {
    background-color: #313131;
   
}

/* regristatie tekst */
.registeren {
    margin: 10px 0;
    text-align: center;
}

/* responsive voor kleinere schermen*/
@media (max-width: 600px) {
    .loginTab {
        padding: 20px;
    }

    .formInput input, .formInput button {
        width: 100%;
        max-width: 100%;
        font-size: 14px;
        padding: 10px;
    }
}

